<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="../static/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/styleCards.css') }}">
    <title>Brain Tumor Detection</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md nav-div">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Brain Tumor Detection</a>
                
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/predict">Predict</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main style="margin-top: 25px">
        <div class="container-fluid">
            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="" aria-current="true"></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg> -->
                        <div class="img-div">
                            <img src="{{ url_for('static', filename= 'img/doc1.jpg') }}" alt="" >     
                        </div>
                        <div class="container">
                        <div class="carousel-caption text-start" style="color: #FFF;">
                            <h1>Symptoms of a brain tumour</h1>
                            <p>The symptoms of a brain tumour vary depending on the exact part of the brain affected.</p>
                            <p>Common symptoms include:(Headaches, Seizures, Vision or Speech problems and Progressive weakness).</p>
                        </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="img-div">
                            <img src="{{ url_for('static', filename= 'img/doc2.jpg') }}" alt="" >     
                        </div>
                        <div class="container">
                        <div class="carousel-caption text-start">
                            <h1>When to see GP</h1>
                            <p>See a GP if you have these types of symptoms, You may not have a brain tumour.</p>
                            <p>but these types of symptoms should be checked, such as a brain scan.</p>
                        </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img-div">
                            <img src="{{ url_for('static', filename= 'img/doc.jpg') }}" alt="" >     
                        </div>
                        <div class="container">
                        <div class="carousel-caption text-start">
                            <h1>Quick Reassurance</h1>
                            <p>Be more reassured before the appointment of your doctor, and find out the results of your x-rays here.</p>
                        </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        
        <div class="contact-items">
            <div class="customer-care">
                <h3>Giloma</h3>
                <p>Gliomas are brain tumours that start in glial cells. These are the supporting cells of the brain and the spinal cord. The most common type is called astrocytoma.</p>
                <a href='https://www.cancerresearchuk.org/about-cancer/brain-tumours/types/glioma-adults'><button id="cust-care">More about Giloma</button></a>
            </div>
            <div class="write-us">
                <h3>Meningioma</h3>
                <p> Meningiomas are tumours that start in the layers of tissue (meninges) that cover the brain and spinal cord. Most meningiomas are benign.</p>
               <a href="https://www.cancerresearchuk.org/about-cancer/brain-tumours/types/meningioma"> <button id="write">More about Meningioma</button></a>
            </div>
            <div class="sales-market">
                <h3> Pituitary tumours tumours</h3>
                <p>The pituitary gland makes and releases hormones into the bloodstream. Most pituitary tumours are benign. Benign pituitary gland tumours are also called pituitary adenomas.</p>
                 <a href="https://www.cancerresearchuk.org/about-cancer/brain-tumours/types/pituitary-tumours"> <button id="sales">More about Pituitary</button></a>

            </div>
        </div>
    </div>

    </main>
    <script src="{{ url_for('static', filename= 'js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>